body{
    margin: 0px}


#main{
    background-color: brown;
}
nav{
    background-color: #00ffff;
    display: flex;
    width: 80%;
    margin: auto
}
nav ul{
    display: flex
}
nav li{
    margin-left: 20px;
    list-style: none;
}

nav a{
    text-decoration: None;
    color: black
}
nav a:hover{
    color:green


}

nav img{
    display: flex;
    height: 250px;
    width: auto
    
}
.mboton{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 200px
}

.container video{ 
    width: 20vw;
    padding-left: 700px;
}
.container p{ 
    padding-left: 700px;
}