body{
    margin: 0px}


nav{
    background-color: #00ffff;
    display: flex;
    width: 200vw;
    margin: auto
}
nav h1{
    margin: auto;
    text-align: center;
    margin-left: 450px;
    font-size: 7em;
    color:black;  
    font-weight: bold;
}

.mboton{
    background-color: #00ffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10%;
    padding-right: 1px
}
nav ul{
    display: flex
}
nav li{
    margin-left: 50px;
    list-style: none;
}

nav a{
    text-decoration: None;
    color: black
}
nav a:hover{
    color:green


}

nav img{
    display: flex;
    height: 100px;
    width: auto
}
#main{background-color: brown;
    display: flex;
    margin: auto
    }

.medio{ 
    background-color: blueviolet;
    display : flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 1px
}

    

