/*   */


body{
    margin: 0px}
  /* no se como hacer mas corta la linea celeste */
nav{
    background-color: #00e6eee3;
    display: flex;
    width: 600vw;
    margin: auto
}
nav h1{
    margin: auto;
    text-align: center;
    margin-left: 2050px;
    font-size: 7em;
    color:black;  
    font-weight: bold;
}

.mboton{
    background-color:  #00e6eee3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding-left: -25px
}
nav ul{
    display: flex
}
nav li{
    margin-left: 50px;
    list-style: none;
}

nav a{
    text-decoration: None;
    color: black;
    font-size: 28px;
}
nav a:hover{
    color:green


}

nav img{
    display: flex;
    height: 100px;
    width: auto
}


img{                          /*aca no se como diferenciar cada imagen para modificar por separado  */
    width: 60%;
    padding: 40px 20px 20px 20px;
}

.container {                           /* aca esta bien poner 2 veces mismo color? */
    display: flex;
background-color: rgb(86, 158, 86);
border: 5px black;
flex-direction: row;
margin:0 auto;
justify-content: center;
width: 100%;
height: 600px;
align-content: center;}


.izq{
    background-color: rgb(86, 158, 86);
    flex-basis: 20%;
    order:3;
    width: 20%;
    align-content: center;
    padding-left: 70px;


}
.medio{background-color: rgb(186, 186, 143); 
    text-align: center;
    order:2;
    flex-basis: 50%;
    font-family:'Times New Roman', Times, serif ;
    font-size: 27px;
    align-content: center;
    padding-top: 55px;


}
.der{
    background-color: rgb(86, 158, 86);
    flex-basis: 20%;
}

h6{
    background-color: bisque;
    text-align: center;
    font-size: 32px;
    color: black
}


/*  */




